body {
    overflow-x: hidden;
}
.side-nav-menu {
    width: 300px;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: -180px;
    display: flex;
    transition: left 0.5s ease;
}

.side-nav-menu.open {
    left: 0;
}

.nav-header {
    width: 70px;
    background: white;
    border-right: 1px solid #ddd;
    z-index: 10000;
}

.nav-tab {
    width: 180px;
    background: #000;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.links li {
    top: 300px;
    transition: top 0.5s ease;
    cursor: pointer;
}

.side-nav-menu.open .links li {
    top: 0;
}

.meal {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.meal img {
    display: block;
    width: 100%;
    height: auto;
}

.meal-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.meal-layer h3 {
    color: #000;
    font-size: 1.2rem;
}

.meal:hover .meal-layer {
    transform: translateY(0);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    animation: rotate 1.5s ease-in infinite alternate;
}

.loader::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: #FF3D00;
    background: currentColor;
    width: 64px;
    height: 32px;
    border-radius: 0 0 50px 50px;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: #FFF;
    width: 8px;
    height: 64px;
    animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.open-close-icon {
    cursor: pointer;
}